data/
submit/
.idea/
env/
work_dirs/
work_dirs
mmdet.egg-info/
__pycache__/
*.py[cod]
*$.py.class
mmdet/.mim/tools
mmdet/.mim/configs
mmdet/.mim/demo
mmdet/.mim/model-index.yml
data
vis_gt/
saved_weights
*.err
*.out
our_train_test.sh
ops_dcnv3/